In [2]:
import pandas as pd
import numpy as np

In [5]:
# Using the pandas Excel class to raed the excel file load the excel file
data_set = pd.ExcelFile('KPMG_VI_New_raw_data_update_final.xlsx')
sheet = 0  # Sheet counter
name = ''
## Seperating the sheets and saving them as CSV file
for sheet_name in data_set.sheet_names:
    if sheet <= len(data_set.sheet_names):
        print(f'Reading {data_set.sheet_names[sheet]} to a DataFrame....')
        df = pd.read_excel(data_set, sheet_name)
        if sheet == 1:
            name = 'Transactions.csv'
            df.to_csv(name)
        elif sheet == 2:
            name = 'NewCustomerList.csv'
            df.to_csv(name)
        elif sheet == 3:
            name = 'CustomerDemographic.csv'
            df.to_csv(name)
        elif sheet == 4:
            name = 'CustomerAddress.csv'
            df.to_csv(name)
        else:
            pass
        print()
        print(
            f'Saved {data_set.sheet_names[sheet]} as a CSV file with the name {name}')
        sheet += 1

Reading Title Sheet to a DataFrame....

Saved Title Sheet as a CSV file with the name
Reading Transactions to a DataFrame....

Saved Transactions as a CSV file with the name Transactions.csv
Reading NewCustomerList to a DataFrame....

Saved NewCustomerList as a CSV file with the name NewCustomerList.csv
Reading CustomerDemographic to a DataFrame....

Saved CustomerDemographic as a CSV file with the name CustomerDemographic.csv
Reading CustomerAddress to a DataFrame....

Saved CustomerAddress as a CSV file with the name CustomerAddress.csv

In [3]:
customer_address = pd.read_csv("Transactions.csv")
customer_address

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
0,1,2,2950,2/25/2017,0.0,Approved,Solex,Standard,medium,medium,71.49,53.62,41245.0
1,2,3,3120,5/21/2017,1.0,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,41701.0
2,3,37,402,10/16/2017,0.0,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,36361.0
3,4,88,3135,8/31/2017,0.0,Approved,Norco Bicycles,Standard,medium,medium,1198.46,381.10,36145.0
4,5,78,787,10/1/2017,1.0,Approved,Giant Bicycles,Standard,medium,large,1765.30,709.48,42226.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,19996,51,1018,6/24/2017,1.0,Approved,OHM Cycles,Standard,high,medium,2005.66,1203.40,37823.0
19996,19997,41,127,11/9/2017,1.0,Approved,Solex,Road,medium,medium,416.98,312.74,35560.0
19997,19998,87,2284,4/14/2017,1.0,Approved,OHM Cycles,Standard,medium,medium,1636.90,44.71,40410.0
19998,19999,6,2764,7/3/2017,0.0,Approved,OHM Cycles,Standard,high,medium,227.88,136.73,38216.0
19999,20000,11,1144,9/22/2017,1.0,Approved,Trek Bicycles,Standard,medium,small,1775.81,1580.47,36334.0

In [14]:
count = 0
vvx = customer_address['brand'].isnull()
pri = customer_address['list_price']
kk = []
for v in vvx:
    if v == True:
        kk.append(pri[count])
        count += 1
print(count,' ',sum(kk))

197   213695.05

In [16]:
count = 0
vvx = customer_address['product_first_sold_date'].isnull()
for v in vvx:
    if v == True:
        count += 1
print(count)

197