# DATA SCIENCE JOB MARKET ANALYSIS

## 1. Web Scraping using Selenium

In [1]:
#import necessary packages
import time
from selenium import webdriver
import pandas as pd
import matplotlib.pyplot as plt
#create an instance of browser
driver = webdriver.Chrome()

In [2]:
#creating a dictionary for storing the information after scraping
jobs={"Roles":[],
     "Companies":[],
     "Locations":[],
     "Requirements":[]}

In [3]:
#iterate over first 30 pages; each page contains 20 results
#for each job we will scrape the role,company, location, and requirements
for i in range(500):
    driver.get("https://ng.indeed.com/jobs?q=Data+Sciences&l=Nigeria&start={}".format(i*10))
    time.sleep(3)
    lst=driver.find_elements_by_css_selector(".jobsearch-SerpJobCard.unifiedRow.row.result.clickcard")
    
    for job in lst:
        driver.implicitly_wait(10)
        
        try: 
            company = job.find_element_by_css_selector(".company").text
        except:
            company = "Null"
            
        role = job.find_element_by_css_selector("a.jobtitle.turnstileLink ").text
        location = job.find_element_by_css_selector("span.location.accessible-contrast-color-location").text
        requirement = job.find_element_by_css_selector(".summary").text
        
        jobs["Roles"].append(role)
        jobs["Companies"].append(company)
        jobs["Locations"].append(location)
        jobs["Requirements"].append(requirement)

NoSuchWindowException: Message: no such window: target window already closed
from unknown error: web view not found
  (Session info: chrome=84.0.4147.105)

In [59]:
import pandas as pd
DS_jobs_df=pd.DataFrame(jobs)
# DS_jobs_df.to_csv("DataScience_jobs.csv")
DS_jobs_df

,Roles,Companies,Locations,Requirements
0,Data Verifier,TechnoServe,Nigeria,Perform first-level data cleaning and data ver...
1,Data Scientist,Softcom LTD,Ikeja,A minimum of 2 years of data science and analy...
2,Research Assistant,TechnoServe,Nigeria,Design data points for data collection especia...
3,Part Time Teaching Assistant,The Gradient Boost,Lagos,We currently offer a 4 month Introduction to D...
4,Human Resource Assistant,TechnoServe,Nigeria,"Maintain staff training data, coordinate train..."
...,...,...,...,...
7388,Human Resources Officer at The Chartered Insti...,careersome,Lagos,Manage employee records and data administratio...
7389,"Sales Representative at Lorache Limited - Jos,...",careersome,Jos,Bachelor of Arts or sciences degree;\nWe seek ...
7390,Android/iOS and API Developer at GVA Partners,careersome,Lagos,"BSc/BA in Computer Science, Engineering or a r..."
7391,Android /Java Developer at Access Solutions,careersome,Abuja,A Bachelor's degree or its equivalent in Compu...
7392,DevOps (Kubernetes - onsite Singapore),NEXLE CORPORATION,Lau,"BS in Computer Science, or equivalent.\nHelp t..."

In [39]:
roles = DS_jobs_df['Roles']
companies = DS_jobs_df['Companies']
locations = DS_jobs_df['Locations']
requirements = DS_jobs_df['Requirements']

role1 = []
company1 = []
location1 = []
requirement1 = []
index = 0
for role in roles:
    if ('data' in role) or ('Data' in role):
        role1.append(roles[index])
        company1.append(companies[index])
        location1.append(locations[index])
        requirement1.append(requirements[index])
    index += 1
    
        
DS_jobs_df = pd.DataFrame(list(zip(role1,company1,location1,requirement1)),columns = ['Roles','Companies','Locations','Requirements'])
DS_jobs_df.to_csv("DataScience-Main_jobs.csv")
DS_jobs_df

## 2. Pre-processing

In [41]:
DS_jobs_df=pd.read_csv("DataScience-Main_jobs.csv", index_col=0)
DS_jobs_df.tail(5)

,Roles,Companies,Locations,Requirements
763,I.T Support Engineer at Sunnet Systems and Dat...,careersome,Lagos,Performing disaster recovery operations and da...
764,I.T Support Engineer at Sunnet Systems and Dat...,careersome,Lagos,Performing disaster recovery operations and da...
765,I.T Support Engineer at Sunnet Systems and Dat...,careersome,Lagos,Performing disaster recovery operations and da...
766,I.T Support Engineer at Sunnet Systems and Dat...,careersome,Lagos,Performing disaster recovery operations and da...
767,I.T Support Engineer at Sunnet Systems and Dat...,careersome,Lagos,Performing disaster recovery operations and da...

In [42]:
#lets check if our data have any null values
DS_jobs_df.isna().sum()

Roles           0
Companies       0
Locations       0
Requirements    0
dtype: int64

In [26]:
# Drop the missing values if any
# DS_jobs_df=DS_jobs_df.dropna()

In [44]:
#lets check if our data have any dupplicate data
DS_jobs_df[DS_jobs_df.duplicated(subset=['Roles','Companies','Locations','Requirements'])].shape

(712, 4)

In [45]:
print("Before dropping duplicates : ",DS_jobs_df.shape)
DS_jobs_df.drop_duplicates(keep="first",inplace=True)
print("After dropping duplicates : ",DS_jobs_df.shape)

Before dropping duplicates :  (768, 4)
After dropping duplicates :  (56, 4)