## INTRODUCTION TO MACHINE LEARNING

In [5]:
import pandas as pd
import numpy as np
import quandl,math
from sklearn import preprocessing, svm
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [6]:
df = quandl.get("WIKI/GOOGL")
print(df.head())

              Open    High     Low    Close      Volume  Ex-Dividend  \
Date
2004-08-19  100.01  104.06   95.96  100.335  44659000.0          0.0
2004-08-20  101.01  109.08  100.50  108.310  22834300.0          0.0
2004-08-23  110.76  113.48  109.05  109.400  18256100.0          0.0
2004-08-24  111.24  111.60  103.57  104.870  15247300.0          0.0
2004-08-25  104.76  108.00  103.88  106.000   9188600.0          0.0

            Split Ratio  Adj. Open  Adj. High   Adj. Low  Adj. Close  \
Date
2004-08-19          1.0  50.159839  52.191109  48.128568   50.322842
2004-08-20          1.0  50.661387  54.708881  50.405597   54.322689
2004-08-23          1.0  55.551482  56.915693  54.693835   54.869377
2004-08-24          1.0  55.792225  55.972783  51.945350   52.597363
2004-08-25          1.0  52.542193  54.167209  52.100830   53.164113

            Adj. Volume
Date
2004-08-19   44659000.0
2004-08-20   22834300.0
2004-08-23   18256100.0
2004-08-24   15247300.0
2004-08-25    9188600.0

In [7]:
## Selecting feature variables from the dataset
df = df[['Adj. Open','Adj. High','Adj. Low','Adj. Close','Adj. Volume',]]
df

              Adj. Open    Adj. High     Adj. Low   Adj. Close  Adj. Volume
Date
2004-08-19    50.159839    52.191109    48.128568    50.322842   44659000.0
2004-08-20    50.661387    54.708881    50.405597    54.322689   22834300.0
2004-08-23    55.551482    56.915693    54.693835    54.869377   18256100.0
2004-08-24    55.792225    55.972783    51.945350    52.597363   15247300.0
2004-08-25    52.542193    54.167209    52.100830    53.164113    9188600.0
...                 ...          ...          ...          ...          ...
2018-03-21  1092.570000  1108.700000  1087.210000  1094.000000    1990515.0
2018-03-22  1080.010000  1083.920000  1049.640000  1053.150000    3418154.0
2018-03-23  1051.370000  1066.780000  1024.870000  1026.550000    2413517.0
2018-03-26  1050.600000  1059.270000  1010.580000  1054.090000    3272409.0
2018-03-27  1063.900000  1064.540000   997.620000  1006.940000    2940957.0

[3424 rows x 5 columns]

In [8]:
## Getting the percent volatility for the day 
df['HL_PCT'] = (df['Adj. High']-df['Adj. Close'])/df['Adj. Close']*100
## Getting the stoke price percent change for the day
df['PCT_Change'] = (df['Adj. Close']-df['Adj. Open'])/df['Adj. Open']*100
df

,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume,HL_PCT,PCT_Change
Date,,,,,,,
2004-08-19,50.159839,52.191109,48.128568,50.322842,44659000.0,3.712563,0.324968
2004-08-20,50.661387,54.708881,50.405597,54.322689,22834300.0,0.710922,7.227007
2004-08-23,55.551482,56.915693,54.693835,54.869377,18256100.0,3.729433,-1.227880
2004-08-24,55.792225,55.972783,51.945350,52.597363,15247300.0,6.417469,-5.726357
2004-08-25,52.542193,54.167209,52.100830,53.164113,9188600.0,1.886792,1.183658
...,...,...,...,...,...,...,...
2018-03-21,1092.570000,1108.700000,1087.210000,1094.000000,1990515.0,1.343693,0.130884
2018-03-22,1080.010000,1083.920000,1049.640000,1053.150000,3418154.0,2.921711,-2.487014
2018-03-23,1051.370000,1066.780000,1024.870000,1026.550000,2413517.0,3.918952,-2.360729
2018-03-26,1050.600000,1059.270000,1010.580000,1054.090000,3272409.0,0.491419,0.332191
2018-03-27,1063.900000,1064.540000,997.620000,1006.940000,2940957.0,5.720301,-5.353887

In [9]:
## Selecting new fearures that has a defined relationship to help simple linear regression have a better prediction
df = df[['Adj. Close','HL_PCT','PCT_Change','Adj. Volume',]]
df

             Adj. Close    HL_PCT  PCT_Change  Adj. Volume
Date
2004-08-19    50.322842  3.712563    0.324968   44659000.0
2004-08-20    54.322689  0.710922    7.227007   22834300.0
2004-08-23    54.869377  3.729433   -1.227880   18256100.0
2004-08-24    52.597363  6.417469   -5.726357   15247300.0
2004-08-25    53.164113  1.886792    1.183658    9188600.0
...                 ...       ...         ...          ...
2018-03-21  1094.000000  1.343693    0.130884    1990515.0
2018-03-22  1053.150000  2.921711   -2.487014    3418154.0
2018-03-23  1026.550000  3.918952   -2.360729    2413517.0
2018-03-26  1054.090000  0.491419    0.332191    3272409.0
2018-03-27  1006.940000  5.720301   -5.353887    2940957.0

[3424 rows x 4 columns]

In [10]:
# Selecting the label
forcast_col = 'Adj. Close'
df.fillna(-99999, inplace=True)
forecast_out = int(math.ceil(0.001*len(df)))
df['Label'] = df[forcast_col].shift(-forecast_out)
df.dropna(inplace=True)
df.head()

C:\Users\Winner\anaconda3\lib\site-packages\pandas\core\frame.py:4153: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,
C:\Users\Winner\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\Winner\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

            Adj. Close    HL_PCT  PCT_Change  Adj. Volume      Label
Date
2004-08-19   50.322842  3.712563    0.324968   44659000.0  53.164113
2004-08-20   54.322689  0.710922    7.227007   22834300.0  54.122070
2004-08-23   54.869377  3.729433   -1.227880   18256100.0  53.239345
2004-08-24   52.597363  6.417469   -5.726357   15247300.0  51.162935
2004-08-25   53.164113  1.886792    1.183658    9188600.0  51.343492

In [17]:
# Passing selected feature and label to X and y respectively
X = np.array(df.drop(['Label'],1))
y = np.array(df['Label'])

array([  53.16411252,   54.12206964,   53.23934476, ..., 1026.55      ,
       1054.09      , 1006.94      ])

In [12]:
# Scaling X(feature) to have a common scale point across all the data piont
X = preprocessing.scale(X)

In [19]:
# Checking to see if data records across X and y are the same
print(len(X),len(y))

3420 3420

In [29]:
# Split X and y to training and testing dataset
X_train,X_test,y_train,y_test = train_test_split(X,y, test_size=0.2)

In [30]:
# Define our model classifier
clf = LinearRegression(n_jobs=-1) # (n_jobs: Number of jobs/threads that can be run at any given time)Tells how many trends you want the training to run under your CPU. (-1: run as many as you can)

#Fitting the training set to the classifier
clf.fit(X_train,y_train)

#Test our model with the test set
accuracy = clf.score(X_test,y_test)
accuracy

0.9970068661257934